main{
  color: white;
  font-family: 'Nunito', sans-serif;
}
header{
  background-color: #242526;
  color: white;
  font-family: 'Nunito', sans-serif;
}
.bg-dark-blue{
  background-color: #121319;
}
.bg-blue-king{
  background-color: #142138;
}
.borderbutton{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.bordertop{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.button:link{
  text-decoration: none;
}
.button {
  background-color: #18191a;
  box-sizing: border-box;
  border-radius: 15px;
  border: 0px;
  color: white;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  text-align: center;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}
.button:hover{
  box-shadow: 0 0 40px 40px #303031 inset;
  color: white;
}
.fourth {
  text-decoration: none;
  background-color: #303031;
  border: 0px #f1c40f;
  color: #ffffff;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #18191a 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  font-size: 18px;
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fourth:hover {
  background-position: 0;
  color: #ffffff;
}

#nav1{
  background-color: #18191a;
  float:left ;
  height: 81%;
  width: 25%;
}
#nav2{
  float: right;
  height: 81.1%;
  width: 90%;
}
